<table class="table">
    <thead>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Charity</th>
        <th scope="col">Recurring</th>
    </thead>
    <tbody>
        {{#each this.donations}}
            <tr>
                <td>Donation</td>
                <td>${{this.amount}}</td>
                <td>{{dateCropper this.date}}</td>
                <td><a href="/charities/{{this.ein}}">{{this.charityName}}</a></td>
                <td>{{this.recurring}}</td>
                <form class="form-group" action="/accounts/{{../slug}}/transactions/{{this._id}}/edit" method="GET">
                    <fieldset>
                        <td><button class="btn btn-secondary" type="submit" name="button">Edit</button></td>
                    </fieldset>
                </form>
                <form action="/accounts/{{../slug}}/transactions/{{this._id}}?_method=DELETE" method="POST">
                    <fieldset>
                        <input type="hidden" name="accountId" value={{this.account}}>
                        <td><button class="form-group btn btn-secondary" type="submit" name="donationId" value="{{this._id}}">Delete</button>
                    </fieldset>
                </form>
            </tr>
        {{/each}}
    </tbody>
</table>
