<!-- charities-show.handlebars -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{charity.charityName}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <h6><em>{{charity.tagLine}}</em></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h6><a href="{{charity.websiteURL}}" target="_blank">{{charity.websiteURL}}</a></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-justify">{{charity.mission}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <form class="form-group" action="/charities/{{charity.ein}}/add" method="post">
                <input type="hidden" name="charityName" value="{{charity.charityName}}">
                <div class="account-selector">
                    <select id="account-dropdown" class="" name="slug">
                        {{#each accounts}}
                        <option value="{{this.slug}}">{{this.name.first}} {{this.name.last}}</option>
                        {{/each}}
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-tertiary" name="donate">Add Charity</button>
            </form>
        </div>
    </div>


</div>
